build.sh
.vscode/
build/*

!build/iso/

!build/OVMF_CODE-pure-efi.fd
!build/OVMF_VARS-pure-efi.fd
!build/startup.nsh

build/iso/boot/kernel.bin
build/iso/modules/
# Emacs temp files
*~
# temp output files
*.o
*.d